In [2]:
import numpy as np

In [3]:
import pandas as pd

In [7]:
# creating a series

In [5]:
series=pd.Series([1,3,5,np.nan,6,8])

In [9]:
series

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [8]:
#Creating data frame with numpy array

In [13]:
dates=pd.date_range('20200101',periods=12)

In [19]:
dates

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10', '2020-01-11', '2020-01-12'],
              dtype='datetime64[ns]', freq='D')

In [21]:
df=pd.DataFrame(np.random.randn(12, 4), index=dates, columns=list('ABCD'))

In [22]:
df

                   A         B         C         D
2020-01-01 -0.212911  1.395428  0.790261 -0.222705
2020-01-02 -0.698543  0.912259  0.775821 -0.723691
2020-01-03 -0.520146  0.537095  1.588142 -1.199418
2020-01-04 -0.242864  0.115305 -1.126682 -0.872197
2020-01-05  0.010510 -2.116132 -0.927170  0.794448
2020-01-06  0.965155  0.006897 -0.567126  0.543510
2020-01-07  1.199625  0.193837 -1.293752  0.256236
2020-01-08  0.268446  0.287557 -0.916635  1.523712
2020-01-09 -0.071199  0.069689  0.189605  0.444737
2020-01-10  0.549458 -0.927788  0.924355  0.573558
2020-01-11 -0.607476 -0.942235  2.308443  0.600070
2020-01-12 -1.632874  0.333482 -0.381928  0.299802

A    float64
B    float64
C    float64
D    float64
dtype: object

In [33]:
df2 = pd.DataFrame({'A': 1.,'B': pd.Timestamp('20130102'),'C': pd.Series(1, index=list(range(4)), dtype='float32'),'D': np.array([3] * 4, dtype='int32'),'E': pd.Categorical(["test", "train", "test", "train"]),'F': 'foo'})

In [35]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [36]:
df.head()

                   A         B         C         D
2020-01-01 -0.212911  1.395428  0.790261 -0.222705
2020-01-02 -0.698543  0.912259  0.775821 -0.723691
2020-01-03 -0.520146  0.537095  1.588142 -1.199418
2020-01-04 -0.242864  0.115305 -1.126682 -0.872197
2020-01-05  0.010510 -2.116132 -0.927170  0.794448

In [40]:
df.tail(2)

                   A         B         C         D
2020-01-11 -0.607476 -0.942235  2.308443  0.600070
2020-01-12 -1.632874  0.333482 -0.381928  0.299802

In [38]:
df.index

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10', '2020-01-11', '2020-01-12'],
              dtype='datetime64[ns]', freq='D')

In [39]:
df.to_numpy()

array([[-0.21291098,  1.3954285 ,  0.79026059, -0.22270518],
       [-0.69854319,  0.91225855,  0.7758214 , -0.72369112],
       [-0.52014578,  0.53709514,  1.58814205, -1.1994184 ],
       [-0.24286435,  0.11530452, -1.1266824 , -0.87219737],
       [ 0.0105102 , -2.11613202, -0.92716982,  0.79444769],
       [ 0.96515483,  0.00689662, -0.56712583,  0.54350955],
       [ 1.19962544,  0.19383685, -1.29375226,  0.25623566],
       [ 0.26844603,  0.28755727, -0.91663499,  1.52371198],
       [-0.07119856,  0.06968903,  0.18960461,  0.44473704],
       [ 0.54945793, -0.9277884 ,  0.92435521,  0.57355815],
       [-0.60747555, -0.94223529,  2.30844306,  0.60006979],
       [-1.6328741 ,  0.33348233, -0.38192762,  0.29980157]])

In [41]:
df.describe()

               A          B          C          D
count  12.000000  12.000000  12.000000  12.000000
mean   -0.082735  -0.011217   0.113611   0.168172
std     0.772585   0.931406   1.164770   0.781834
min    -1.632874  -2.116132  -1.293752  -1.199418
25%    -0.541978  -0.226775  -0.919269  -0.347952
50%    -0.142055   0.154571  -0.096162   0.372269
75%     0.338699   0.384386   0.823784   0.580186
max     1.199625   1.395428   2.308443   1.523712

In [42]:
df.T

,2020-01-01,2020-01-02,2020-01-03,2020-01-04,2020-01-05,2020-01-06,2020-01-07,2020-01-08,2020-01-09,2020-01-10,2020-01-11,2020-01-12
A,-0.212911,-0.698543,-0.520146,-0.242864,0.010510,0.965155,1.199625,0.268446,-0.071199,0.549458,-0.607476,-1.632874
B,1.395428,0.912259,0.537095,0.115305,-2.116132,0.006897,0.193837,0.287557,0.069689,-0.927788,-0.942235,0.333482
C,0.790261,0.775821,1.588142,-1.126682,-0.927170,-0.567126,-1.293752,-0.916635,0.189605,0.924355,2.308443,-0.381928
D,-0.222705,-0.723691,-1.199418,-0.872197,0.794448,0.543510,0.256236,1.523712,0.444737,0.573558,0.600070,0.299802

In [46]:
df[df['A']>0]

                   A         B         C         D
2020-01-05  0.010510 -2.116132 -0.927170  0.794448
2020-01-06  0.965155  0.006897 -0.567126  0.543510
2020-01-07  1.199625  0.193837 -1.293752  0.256236
2020-01-08  0.268446  0.287557 -0.916635  1.523712
2020-01-10  0.549458 -0.927788  0.924355  0.573558

In [ ]:
# Creating dataframes with dictionary objects